{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.balance) }}
    {{ form_row(form.users) }}
    {{ form_row(form.state) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
