{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>My accounts</h1>
            </div>
            <div class="col-md-6 ">
                <a href="{{ path('account_new') }}">
                    <button class="btn btn-primary">
                        Create account
                    </button>
                </a>
            </div>
        </div>

        <div class="row">

        {% for account in accounts %}

            <div class="col-sm-6 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{ account.name }}</h3>
                            <p class="card-text">This account count {{ account.balance }} /  {{ account.balanceInit }}€ right now ! </p>
                            <div class="row">
                                {% for u in account.users %}
                                    <div class="card m-4 col-md-4">
                                        <img class="card-img-top" src="https://image.flaticon.com/icons/png/512/149/149071.png" alt="Card image cap" width="200px">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ u.pseudo }}</h5>
                                            <p class="card-text">

                                                {% for uf in app.user.friendships %}
                                                    {% if (uf.friend == u) %}
                                                        <small>You are already friends with {{ u.pseudo }} since {{ uf.createdAt|time_diff }} :)</small>
                                                    {% endif %}
                                                {% endfor %}

                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if account.state == 1 %}
                                <a href="{{ path('account_show', {'id': account.id}) }}" class="btn btn-primary">
                                    Visit the account
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

        {% else %}
            You don't have any accounts. Get started by create you first one!
        {% endfor %}

        </div>
    </div>

{% endblock %}
