{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>My accounts</h1>
            </div>
            <div class="col-md-6 ">
                <a href="{{ path('account_new') }}">
                    <button class="btn btn-primary">
                        Create account
                    </button>
                </a>
            </div>
        </div>

        <div class="row">

        {% for account in accounts %}

            <div class="col-sm-6 mt-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">{{ account.name }}</h3>
                            <p class="card-text">This account count {{ account.balance }} /  {{ account.balanceInit }}€ right now ! </p>
                            {% for user in account.users %}
                                <p>{{ user.pseudo }}</p>
                            {% endfor %}
                            {% if account.state == 1 %}
                                <a href="{{ path('account_show', {'id': account.id}) }}" class="btn btn-primary">
                                    Visit the account
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

        {% else %}
            You don't have any accounts. Get started by create you first one!
        {% endfor %}

        </div>
    </div>

{% endblock %}
