{% extends 'base.html.twig' %}

{% block title %}New Account{% endblock %}

{% block body %}
    <h1>Create new Account</h1>

    {{ form_start(form) }}
    <div class="col-md-4 col-offset-md-2">
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.balance) }}
        {{ form_row(form.users) }}
        {# Not displaying state when created#}
        {{ form_row(form.state) }}
        <button class="btn btn-outline-success">{{ button_label|default('Créer >') }}</button>
        {{ form_end(form) }}
        <div class="row" style="margin-top: 20px"></div>
        <a href="{{ path('account_index') }}" class="btn btn-outline-warning">
            < Revenir
        </a>
    </div>

{% endblock %}
