{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <h1>{{ account.name }}</h1>
    <a href="{{ path('account_index') }}" class="btn btn-warning">Back</a>
    <a href="{{ path('account_edit', {'id': account.id}) }}" class="btn btn-primary">Edit</a>
    <a href="{{ path('transaction_new', {'id': account.id}) }}" class="btn btn-success">Make transaction</a>
    {{ include('account/_delete_form.html.twig') }}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Balance</h3>
            <span>{{ account.balance }}</span>
        </div>
    </div>
    <div class="row">
        {% for t in transactions %}
        <div class="col-md-12">
            {{ t.amount }}
        </div>
        {% endfor %}
    </div>



{% endblock %}
