{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}


    <div class="row">
        <div class="card mb-3 col-md-12">
            <img class="card-img-top" src="http://www.ccmalta.com/CCM/Images/Bank-Accounts-img.png" alt="Card image cap">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <h3 class="card-title">{{ account.name }}</h3>
                        <p class="card-text">Current balance : {{ account.balance }}. Initial balance : {{ account.balanceInit }}.</p>
                        <p class="card-text"><small class="text-muted">Last updated {{ account.updatedAt|time_diff }}</small></p>
                    </div>
                    <div class="col-md-6">
                        <a href="{{ path('account_index') }}" class="btn btn-warning">Back</a>
                        <a href="{{ path('account_edit', {'id': account.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('transaction_new', {'id': account.id}) }}" class="btn btn-success">Make transaction</a>
                        {{ include('account/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="transactions-tab" data-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="true">Transactions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Members</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="chart-tab" data-toggle="tab" href="#chart" role="tab" aria-controls="chart" aria-selected="false">Chart</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="transactions" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                {% for t in transactions %}
                    <div class="card m-4">
                        <h5 class="card-header">{{ (loop.first) ? '<b>New transaction</b>' : 'Transaction' }}</h5>
                        <div class="card-body">
                            <h5 class="card-title">Transaction from {{ t.user.pseudo }}</h5>
                            <p class="card-text">A transaction about {{ t.amount }}€ was succeed for <b>{{ t.category }}</b>.</p>
                            <a href="{{ path('transaction_show', {'id' : t.id}) }}" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                {% else %}
                    No one transactions yet
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
                {% for u in account.users %}
                    <div class="card m-4" style="width: 18rem;">
                        <img class="card-img-top" src="https://image.flaticon.com/icons/png/512/149/149071.png" alt="Card image cap" width="200px">
                        <div class="card-body">
                            <h5 class="card-title">{{ u.pseudo }}</h5>
                            <p class="card-text">

                                {% for uf in app.user.friendships %}
                                    {% if (uf.friend == u) %}
                                        You are already friends with {{ u.pseudo }} since {{ uf.createdAt|time_diff }} :)
                                    {% endif %}
                                {% endfor %}

                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="chart" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>



{% endblock %}
