{% extends 'base.html.twig' %}

{% block title %}Banker - Category{% endblock %}

{% block body %}
    <h1>List of categories</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="card-panel {{ label }} darken-4">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="responsive-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}"
                       class="waves-effect waves-light btn-small">show</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}"
                       class="waves-effect waves-light btn-small">edit</a>
                    <a href="{{ path('category_delete', {'id': category.id, '_token': csrf_token('delete-item')}) }}"
                       class="waves-effect waves-light btn-small">Delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No categories recorded</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="waves-effect waves-light btn-small" href="{{ path('category_new') }}">Add new category</a>
{% endblock %}