{% extends 'base.html.twig' %}

{% block title %}Banker - Category{% endblock %}

{% block body %}
    <h1>List of categories</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                    <a href="{{ path('category_delete', {'id': category.id, '_token': csrf_token('delete' ~ category.id)}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No categories recorded</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">Create Category</a>
{% endblock %}